.re {
    border: 5px solid black;
    background-image: linear-gradient(rgba(174, 183, 217, 0.7),rgba(186, 195, 228, 0.7));
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

  img{
      float: right;
      border: 4px solid black ;
      padding-top: 0;
    }

  table, td, th {
    border: 2px solid;
    text-align: center;
     
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1px;

        }



.resume{
    text-align: center;
}
